td= variant.getName( ) + " "
  if variant.isControl( )
    span.badge="Control"
td= variant.getStartedCount( )
td= variant.getUnfinishedCount( goal )
td= variant.getCompletedCount( goal )
td
  = _str.numberFormat( variant.getConversionRate( goal ), 2 ) + "% "
  span.badge!= "&#177;" + _str.numberFormat( variant.getConversionRateConfidence( goal ), 2 ) + "%"
td!= !variant.isControl( ) ? _str.numberFormat( variant.getChangeRate( goal ), 2 ) + "%" : "&mdash;"
td= variant.getConfidenceLevel( goal ) ? variant.getConfidenceLevel( goal ) + "%" : "Insignificant"
td
  button.btn.btn-success( type="button" )= "Select"

